streamlit
pandas
plotly
pyvis
langchain
langchain-core
langchain-groq
langchain-community
langchain-pinecone
faiss-cpu
sentence-transformers
neo4j
pinecone-client
sendgrid
networkx
matplotlib
python-dotenv